<ion-view cache-view="false"  title="Permission" id="Permissionpage221">
  <ion-content padding="true" class="has-header">
    <div id="myProlife-button-bar1" class="button-bar"></div>
	  
	  <a ui-sref="tabsController.grantAccessList()" id="permissionTypebutton8" class="button button-positive button-block">Full Access List</a>
	  <div class="spacer" style="height: 40px;"></div>
	  
	  
	  <a ui-sref="tabsController.recordsViewingList()" id="permissionTypebutton24" class="button button-positive button-block">Record Read Only List</a>
	  
	  <div class="spacer" style="height: 40px;"></div>
	  
	  
  </ion-content>
</ion-view>