<ion-view cache-view="false"  title="Shared Records" id="pSharedage23">
  <ion-content padding="true" class="has-header">
    <div id="peopleShareMeRecords-button-bar9" class="button-bar"></div>

	  <div ng-repeat ="z in peoplegrantedme" id="peopleShareMeRecords-container2">
		  <ion-list id="peopleShareMeRecords-list3">
		<ion-item class="dark" id="sharedList-item43">Granted by UID： {{z.UID_granter}}</ion-item> 
			  <ion-item class="dark" id="sharedList-item41">Title： {{z.title}}</ion-item>
			  <ion-item class="dark" id="sharedList-item41">Descriptions： {{z.descriptions}}</ion-item>
			<ion-item class="dark" id="sharedList-item42">until： {{z.timestamp_expired}}</ion-item>
			  
<!--				  <ion-item class="dark" id="sharedList-item40">current time： {{z.time}}</ion-item>
			<ion-item id="sharedList-item41" ng-model="data.AID">View Permission ID: {{z.PID}}</ion-item>
			  <ion-item class="dark" id="sharedList-item41">Shared Record ID： {{z.RID}}</ion-item>
			  <ion-item class="dark" id="sharedList-item40">View permitted by： {{z.name_granter}}</ion-item>
			  <ion-item class="dark" id="sharedList-item41">Email： {{z.email_granter}}</ion-item>
			  <ion-item class="dark" id="sharedList-item41">Shared Record ID： {{z.RID}}</ion-item>
			<ion-item class="dark" id="sharedListitem39">My ID： {{z.UID_receiver}}</ion-item>
-->
		  </ion-list>
<!-- 		//Maybe later improvement ...	
			//list by users and redirect to user records...
		  <button ng-click="access(z.UID_granter, z.PID)" class="button button-primary button-block">View Records</button>
		  <button ng-click="submit(z.AID)" class="button button-primary button-block">Revoke my access</button>
-->
		  
		  <div class="spacer" style="height: 40px;"></div>
		  
	  </div>

	</ion-content>
</ion-view>