<ion-view cache-view="false" title="Share to" id="Sharepage20">
  <ion-content padding="true" class="has-header">
    <div id="shareRecordsTo-button-bar8" class="button-bar"></div>
    <div id="shareRecordsTo-container15">
		<form ng-submit="submit()">
				<label class="item item-input item-stacked-label">
					<input type="email" name="email" placeholder="enter email" ng-model="data.email">
				</label>
		<!--		<label class="item item-input item-stacked-label">
					<input type="number" name="RID" placeholder="enter RID to be shared" ng-model="data.RID">
				</label> -->
				<input class="button button-block button-positive" type="submit" name="submit" value="Submit to server">
		</form>
<!--		<div class="card">
			<div class="item item-text-wrap">
				Response: <b ng-bind="response"></b>
			</div>
		</div> -->
     </div>
	  
	  	  
	  <div class="spacer" style="height: 40px;"></div>
<!--
	  <div ng-repeat ="x in names" id="myProlife-container2">
		  <ion-list id="myProlife-list3"> -->
	<!--		<ion-checkbox ng-model="check" ng-change="checkAll(check)" ng-true-value="1" ng-false-value="0">Record ID： {{x.RID}}</ion-checkbox>
			  -->
<!--		<ion-item class="dark" id="myProlife-list-item39">Record ID： {{x.RID}}</ion-item>
			<ion-item class="dark" id="myProlife-list-item39">Title： {{x.title}}</ion-item>-->
			  <!--
			<ion-item class="dark" id="myProlife-list-item39">my UID： {{x.UID}}</ion-item>
			<ion-item id="myProlife-list-item40">Descriptions: {{x.descriptions}}</ion-item>
			<ion-item class="dark" id="myProlife-list-item39">Origin_RID： {{x.Origin_RID}}</ion-item>
			<ion-item class="dark" id="myProlife-list-item39">timestamp_add： {{x.timestamp_add}}</ion-item>
		-->
	<!--	  </ion-list>

		  <div class="spacer" style="height: 30px;"></div>
	  </div>-->
	  
  </ion-content>
</ion-view>